<div class="admin-tabs">
  <% tabs.forEach(t => { %>
    <a href="<%= t.href %>" class="admin-tab <%= t.active ? 'active' : '' %>"><%= t.label %><% if (t.badge) { %> <span class="tab-badge"><%= t.badge %></span><% } %></a>
  <% }) %>
</div>
