<nav class="site-nav">
  <a href="/" class="logo"><%= site.name %></a>
  <div class="nav-links">
    <a href="/#programs">Programs</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    <a href="#" onclick="if(typeof openContactModal==='function'){openContactModal();}else{window.location='/#contact';} return false;">Contact</a>
  </div>
</nav>
