<nav class="site-nav">
  <a href="/" class="logo"><img src="/images/logo_color.png" alt="<%= site.name %>" class="logo-img"><%= site.name %></a>
  <div class="nav-links">
    <a href="/#programs">Programs</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    <a href="#" onclick="if(typeof openContactModal==='function'){openContactModal();}else{window.location='/#contact';} return false;">Contact</a>
  </div>
</nav>
